header > img {
    width: 120px;
    height: auto;
    position: absolute; 
    top: 0px; 
}
h1{
    margin-top: 0;
    margin-left: 20%;
    margin-right: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
nav > ul{
    width: 100%; 
    display: inline-block; 
    padding: 14.8px 8px; 
    /* background-color:rgb(189, 98, 177); */
    font-family: Arial, Helvetica, sans-serif;
}
.controleLI li{
    display: inline-block;
    margin-left: 30.2px;
    margin-top: 0%;
    padding-left: .6em;
    padding-right: .05em; 
} 
.container {
    width: 85%;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
}
.developer {
    display: flex;
    align-items: center;
    margin-left: 21.7%;
    margin-bottom: 50px;
    padding: 15px;
    width: 610px;
    background-color: darkcyan; 
    border-radius: 8px;
}
.developer-info {
    max-width: 600px;
    color: white;
}
img {
    width: 95px;
    height: 150px;    
}
.developer-info h2 {
    margin: 0;
    color: white; 
}
.developer-info p {
    margin: 5px 0;
    font-size: 1.1em;
 }
 header h1 {
    margin-left: 30%;
    font-size: 1.5em;
    color: darkblue;
}
header p {
    margin-left: 23%;
    margin-top: 10px;
    font-size: 1.5em;
    color: darkblue;

}
.footer {
    position: absolute;
    display: inline-block;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:darkblue;
    margin-top: 20.5%;
    margin-left: 32%;
    margin-right: 30%;
    text-align: center;
}
.footer-background {
    position: absolute;
    margin-top: 20%;
    left: 0;
    right: 0;
    height: 25.5%;
    width: 100.6%;
    background-color: darkcyan;
}
header > nav {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    margin-top: 1%;
    margin-left: -2%;
    margin-bottom: 2.5%;
}
.header-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: darkcyan;
}
.controleLI{
    background-color: darkcyan;
    margin-top: -1.7%;
}
.controleLI2 li{
    font-weight: bold;
    display: inline;
    padding-top: 1em;
    padding-left: .5em;
    padding-right: 2em; 
}
